* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(252, 250, 249);
    font-family: 'Wix Madefor Display', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color:rgba(44, 44, 44, 0.85);
}

.pageHeader {
    display: flex;
    column-gap: 0.25rem;
}

#carsName {
    font-family: 'Chelsea Market', 'Rubik', sans-serif;
    color: lightblue;
    text-shadow: -1px 1px 2px rgb(18, 18, 18);
}

#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    column-gap: 3em;
    row-gap: 3em;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.options {
    border: 1px dashed lightblue;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: -1.5px 1.5px 4px darkslategray;
    flex-basis: 40%;
    padding: 0.5rem 1rem;
}

.dropdown {
    width: 75%;
}

#orderButton {
    padding: 0.5rem 0.75rem;
    background-color: darkgreen;
    border: 1px ridge rgb(41, 41, 41);
    color: rgb(247, 244, 241);
    cursor: pointer;
}

#orderButton:hover {
    background-color: seagreen;
}

.orderList {
    border-top: 1px solid rgba(44, 44, 44, 0.5);
    margin-top: 1rem;
}

.orderList--div {
    background-color: lightcyan;
    border: 2px dashed lightblue;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
    box-shadow: -1.5px 1.5px 6px rgba(55, 55, 55, 0.5);
}